doctype html
html(lang='en')
  head
    title Dealer Instincts Build System
    link(href='css/ui.css', rel='stylesheet')

  body
    nav.navbar-default.navbar-fixed-top.navbar-inverse
      .container
        p.navbar-text.pull-left Dealer Instincts Build System
        .navbar-form.pull-right
          a#force-refresh.btn.btn-primary.btn-sm(href='#')
            span.fa.fa-icon-only.fa-fw.fa-refresh
            |  Force Refresh

    .container

      .col-xs-12.col-md-5.pull-right
        form.panel.panel-default(name='deployment', action='/deploy', method='post')
          .panel-heading
            span.fa.fa-icon-only.fa-fw.fa-cloud-upload
            |  Deploy a build

          if tags && tags.length
            .panel-body Choose a revision below (only 5 most recent) to be deployed automatically:
          #tags.list-group
            if tags && tags.length
              each tag, i in tags
                label.list-group-item.small(for='branch-' + i) 
                  input(id='branch-' + i, type='radio', name='branch', value=tag.name, checked=i === 0 ? 'checked' : null)
                  |  #{tag.name}
              label.list-group-item.small(for='master') 
                input#master(type='radio', name='branch', value='master')
                |  master
            else
              label.list-group-item.small.list-group-item-warning Couldn't grab any tags. Please try again later.

          if tags && tags.length
            .panel-body Choose at which time of day (local time) it should be deployed:
            .list-group
              label.list-group-item.small(for='12am') 
                input#12am(type='radio', name='time', value='0')
                |  12 AM
              label.list-group-item.small(for='2am') 
                input#2am(type='radio', name='time', value='2', checked)
                |  2 AM
              label.list-group-item.small(for='4am') 
                input#4am(type='radio', name='time', value='4')
                |  4 AM
              label.list-group-item.small(for='now') 
                input#now(type='radio', name='time', value='now')
                |  Now

            .panel-body Choose which stacks should be deployed:
            #stacks-deployment.list-group
              each stack, i in stacks
                label.list-group-item.small(for='stack-' + i) 
                  input(id='stack-' + i, type='checkbox', name='stacks[]', value=stack.name)
                  .color-block(style='background-color: ' + stack.color + ';')
                  span  #{stack.name}

              label.list-group-item.text-info(for='build-mobile') 
                input#build-mobile(type='checkbox', name='build-mobile', value='1', checked)
                |  Build mobile version

            .panel-body On failure, all stacks will be reverted to the previous version.

            .panel-footer
              button.btn.btn-success.pull-right(type='submit')
                span.fa.fa-icon-only.fa-fw.fa-cloud-upload
                |  Submit
              .clearfix

      #actions.col-xs-12.col-md-7.pull-left
        .panel.panel-default
          .panel-heading
            span.fa.fa-icon-only.fa-fw.fa-cogs
            |  Current Actions
            a#clear-actions.btn.btn-primary.btn-xs.pull-right(href='#')
              span.fa.fa-icon-only.fa-fw.fa-times
              |  Clear completed actions
          ul.list-group

      .col-xs-12.col-md-7.pull-left
        #stacks-loading.loading
          .loader
            span.fa.fa-icon-only.fa-fw.fa-spinner.fa-spin
          .panel.panel-default
            .panel-heading
              span.fa.fa-icon-only.fa-fw.fa-tasks
              |  Stacks
            .panel-body
              | Below you will find the the managed stacks and their status for their last deployment. You can click on them to see their last deployment's log.
            #stacks.list-group
            .panel-body.empty
              .label.label-danger No stacks defined

      .col-xs-12.col-md-7.pull-left
        #deployments-loading.loading
          .loader
            span.fa.fa-icon-only.fa-fw.fa-spinner.fa-spin
          .panel.panel-default
            .panel-heading
              span.fa.fa-icon-only.fa-fw.fa-clock-o
              |  Scheduled Deployments
              .empty.label.label-primary.pull-right No deployments scheduled
            table#deployments.table.table-striped
              thead
                tr
                  th Stack
                  th Branch
                  th.text-center Mobile
                  th Scheduled For
                  th
              tbody

      .col-xs-12.col-md-7.pull-left
        #builds-loading.loading
          .loader
            span.fa.fa-icon-only.fa-fw.fa-spinner.fa-spin
          form.panel.panel-default(name='mobile', action='/mobile/build', method='post')
            .panel-heading
              span.fa.fa-icon-only.fa-fw.fa-mobile
              |  Mobile Builds
            .panel-body
              | Below are the 
              strong 10 most recent 
              | mobile builds from mobile enabled repositories.
            table#builds.table.table-striped
              thead
                tr
                  th Stack
                  th Branch
                  th Created At
                  th
              tbody
            .panel-body.empty
              .label.label-warning No mobile builds
            .panel-footer
              button#build-now.btn.btn-default.pull-right(type='submit')
                span.fa.fa-icon-only.fa-fw.fa-cog
                |  Build Now
              small
                | Building all mobile enabled repositories will create APKs from the 
                strong master 
                | branch.
              .clearfix

    #footer.navbar
      .container
        small.navbar-text &copy; 2014 Dealer Instincts. For internal use only.

    script(type='text/javascript', src='js/vendors/jquery.js')
    script(type='text/javascript', src='js/ui.js')